<form method="POST" action="<%= form_action(@contact) %>">
  <%= hidden_http_method(@contact) %>
  <div>
    <label for="first_name">First Name: </label>
    <input id="first_name" type="text" name="contact[first_name]" value="<%= @contact.first_name %>">
  </div>
    <div>
    <label for="last_name">Last Name: </label>
    <input id="last_name" type="text" name="contact[last_name]" value="<%= @contact.last_name %>">
  </div>
    <div>
    <label for="phone">Phone: </label>
    <input id="phone" type="text" name="contact[phone]" value="<%= @contact.phone %>">
  </div>
    <div>
    <label for="email">Email: </label>
    <input id="email" type="text" name="contact[email]" value="<%= @contact.email %>">
  </div>
  <div>
    <input type="submit" value="<%=submit_text(@contact)%>">
  </div>
</form>